<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Chat Box</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body
    style="background-position: center; background-repeat: no-repeat; background-size: cover; background-color: black;">

    <noscript>
        <h2>No JS no Chat!</h2>
    </noscript>

    <div id="chatname-page">
        <div class="chatname-page-container">
            <h1 class="title">Enter Chat Token</h1>
            <form id="chatnameForm" name="chatnameForm">
                <div class="form-group">
                    <input type="text" max="200" id="chatName" placeholder="Token" autocomplete="off"
                        class="form-control" th:disabled="${chatname != null}" th:value="${chatname}" />
                </div>
                <div class="form-group">
                    <input type="text" id="userName" placeholder="User Name" autocomplete="off" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="accent chatname-submit">Register</button>
                </div>
            </form>
        </div>
    </div>

    <div id="chat-page" class="hidden">


        <div class="navbar">
            <div>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="default" value="Logout">Logout</button>
                </form>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')" class='end'>
                <input type="text" disabled id="copytextarea" placeholder="Join Link area" />
                <button id="copy" class="default">Copy Join Link</button>
            </div>
        </div>

        <div class="chat-container">
            <div class="chat-header">
                <h3>Chat Box</h3>
            </div>
            <div id="web-rtc-page">
                <video id="videoSelf" playsinline autoplay muted class="video-block"></video>
                <video id="videoCaller" playsinline autoplay class="video-block loader"> </video>
            </div>

            <div class="connecting">Connecting...</div>
            <ul id="messageArea">

            </ul>
            <form id="messageForm" name="messageForm" nameForm="messageForm">
                <div class="form-group">
                    <div class="input-group clearfix">
                        <input type="text" id="message" placeholder="Write Here..." autocomplete="off"
                            class="form-control" />
                        <button type="submit" class="primary">Send</button>
                        <button id='rtcButton' class="accent" onclick="webRTCaction()">Call</button>
                        <button id='cancelButton' class="default" onclick="cancelRTC()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script th:src="@{/webjars/simple-peer/9.7.0/simplepeer.min.js}"></script>
    <script th:src="@{/webjars/sockjs-client/1.5.1/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/2.3.4/stomp.min.js}"></script>
    <script th:src="@{/js/webRTCClient.js}"></script>
    <script th:src="@{/js/stompClient.js}"></script>
</body>

</html>